<link rel="stylesheet" type="text/css" href="/css/about.css">	

<div class="about">
	<div class="container">
		<h1>RULES TO PLAY THE GAME</h1>
		
		<p>Remember the good old days of arcade games? This great remake of the classic Asteroids arcade game will take you back there instantly.</p>
		
		<p>You are a player represented by a rocket. You must destroy as many asteroids as you can while avoiding enemy and of course the asteroids themselves. Your rocket has some really cool physics that take into account thrust, direction and speed. Pressing the forward arrow speeds your rocket up and pressing left or right will turn you counter-clockwise or clockwise in a 360 degree rotation. This allows for some quick manuevering when trying to avoid asteroids or other obstacles in your path</p>

		<p>Furthermore, pressing the spacebar shoots a bullet that destroys the asteroids coming your way. So, let us get sarted!</p>
	</div>
</div>