<link rel="stylesheet" type="text/css" href="/css/about.css">	

<div class="about">
	<div class="container">
		<h1>Rules</h1>
		
		<p>Remember the good old days of arcade games? This great remake of the classic Asteroid arcade game will take you back instantly.</p>
		
		<p>
			You are represented by the Rocket. You must destroy as many Asteroids as you can while making sure none hit you. Your Rocket has some really cool physics that take into account thrust, direction, and speed.
		</p>

		<p>
			Pressing the forward arrow speeds your Rocket up and pressing left or right will turn the rocket in a 360 degree rotation. This allows for some quick maneuvering when trying to avoid Asteroids or other obstacles in your path. Hitting the spacebar shoots a bullet that breaks the Asteroids coming your way.
		</p>

		<a href="/game" class="btn btn-default">Play Game</a>
	</div>
</div>