<link rel="stylesheet" type="text/css" href="/css/about.css">	

<div class="about">
	<div class="container">
		<h1>About</h1>
		
		<p>Remember the good old days of arcade games? This great remake of the classic Asteroid arcade game will take you back instantly.</p>
		
		<p>
			You are represented by the Rocket. You must destroy as many Asteroids as you can while making sure none hit you. We use nifty physics to take into account thrust, direction, and speed.
		</p>

		<p>
			Pressing the <b>forward arrow</b> accelerates your Rocket while pressing the <b>down arrow</b> stops the rocket. The <b>left and right arrows</b> turn the rocket in a 360 degree rotation. This allows for some quick maneuvering when trying to avoid Asteroids or other obstacles in your path. Hitting the <b>spacebar</b> shoots a bullet that breaks the Asteroids coming your way.
		</p>

		<a href="/game" class="btn btn-default">Play Game</a>
	</div>
</div>