<!DOCTYPE html>
<html>
<head>
	<title><%=@title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<canvas id="game-canvas"></canvas>

	<div class="hidden">
		<img id="rocket-normal" src="/images/rocket_normal.png"></img>
	</div>

	<div class="hidden">
		<img id="rocket-moving" src="/images/rocket_fired.png"></img>
	</div>

	<div class="hidden">
		<img id="null" src="/images/null.png"></img>
	</div>

	<div class="hidden">
		<img id="asteroid" src="/images/asteroid.png"></img>
	</div>

	<div class="hidden">
		<img id="bullet" src="/images/bullet.png"></img>
	</div>

	<script async type="text/javascript" src="/js/game.js"></script>
</body>
</html>