<link rel="stylesheet" type="text/css" href="/css/home.css">	

<div class="jumbotron" id="home">
	<div class="container">
		<h1>
			<%= settings.app_name %>
		</h1>
		<p>A redesigned arcade game</p>
		<a href="/game" class="btn btn-default">Play Game</a>
	</div>
</div>