<!DOCTYPE html>

<html lang="en">
	
	<head>
		<%= erb :layout_head %>
	</head>


	<body>
		<%= erb :nav %>

		<%= yield %>

		<div class="footer">
			<div class="container">
				<p>Created by <u><a href="http://aaroncolaco.com">Aaron</a></u>, <u><a href="http://aaroncolaco.com">Joston</a></u>, <u><a href="http://aaroncolaco.com">Kimberly</a></u>, <u><a href="http://aaroncolaco.com">Natasha</a></u>, <u><a href="http://aaroncolaco.com">Prajakta</a></u></p>
			</div>
		</div>

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script async type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
			
	</body>
</html>