.about {
	background-image:url('/images/space3.jpg');
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;   
}

.about .container {
	position: relative;
	top: 20%;
	background: rgba(0, 0, 0, 0.5);
}

.about h1 {
	color: #ffffff;
	font-size: 4em;
}

.about p {
	color: #ffffff;
	font-size: 1.5em;
}

.about .btn-default {
	color: #ffffff;
	background-color: transparent;
	font-size: 1.2em;

	margin-top: 5%;
	margin-bottom: 5%;
}
.about .btn-default:hover {
	background-color: #5a5aad;
}